@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
body { font-family: 'Space Grotesk', sans-serif; }
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

.hover\:pause-animation:hover {
  animation-play-state: paused;
}

@keyframes typing {
  0%, 100% { width: 0 }
  50% { width: 100% }
}



.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: 
    typing 6s steps(40, end) infinite,
    blink 0.75s step-end infinite;
}