@import "tailwindcss";
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

.hover\:pause-animation:hover {
  animation-play-state: paused;
}
